<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css"
</head>
<body>
    <div class="login-container">
        <form class="login-form">
            <h2>login</h2>
            <div class="input-group">
                <label for="username">username</label>
                <input type="text" id="username" name="username" placeholder="Enter username" required>
            </div>
            <div class="input-group">
                <label for="password">password</label>
                <input type="password"id="password" name="password" placeholder="Enter your password" required>
            </div>
            <div class="option">
            </lable>
                    <input type="checkbox" id="remember-me"name ="remember-me">
                    <a href="#"class ="forget-password">forget password</a>
                </div>
               <center> <h2><button type="submit" class="login button">login</button></h2></center>
                <footer>
                    <p>@2024.All right reserved</p>
                </footer>        
               </form>
               </div>
          </body>
          </html>
            
        
    
