*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #54a5bb;
    color: white;
}
button{
    cursor: pointer;

}
.dashboard {
    text-align: left;
    padding: 5px 0px 10px 20px;
    color: #000;
    margin-top: -50px;
   
}
.dashboard h1 {
    margin-bottom: 5px;
   font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
}
.dashboard p {
    font-size: 20px;
}
.grid {
    height: 300px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    justify-self: center;
    padding: 30px;
}
.card {
    background-color: #d1c9c9;
    color: #000;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card  a i{
    font-size: 100px;
    padding: 10px;
    color: rgb(66, 64, 64);
    float: right;

}
.card a{
    text-decoration: none;
    border: none;
   
}
.card h2{
   padding: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card p{
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 20px;
}

.action-buttons {
    grid-column: span 2;
    display: flex;
    justify-content: space-around;
}
.action-buttons button {
    height: 100px;
    width: 48%;
    background-color: #d1c9c9;
    color: black;
    border: none;
    padding: 20px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    border-radius: 10px;
}
.action-buttons button:hover {
    background-color: #00c3f9;
    color: #fff;
}