<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assests/style/login.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="typing-text ">Wellcome To School Managment System</div>
       
        <div class="right">
           <h3>Login</h3>
           <form action="" method="">
            <label for="Username">Username</label><br>
            <input type="text" name="Username" id="" placeholder="Enter username"><br><br>
            <label for="Password">Password</label><br>
            <input type="text" name="Password" id="" placeholder="Enter Password"><br>
            <div class="chb">
                <a href="">Remember Me</a>
                <input type="checkbox" name="Checkbox" id="">
                <a href="">Forget Password</a><br>
            </div>
            
             <input type="submit" name="Login" value="Login" >
        </form><br>
        <hr><br>
        <h4>&copy;2024.All rights reserved
        </h4>
        </div>
    </div>
</body>
</html>